@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


.active hr {
  @apply block
}

@theme {
  --color-primary-50: #e6fafe;
  --color-primary-100: #cdf5fe;
  --color-primary-200: #9cebfc;
  --color-primary-300: #6ae1fb;
  --color-primary-400: #38d6fa;
  --color-primary-500: #06ccf9;
  --color-primary-600: #05a3c7;
  --color-primary-700: #047b95;
  --color-primary-800: #035263;
  --color-primary-900: #012932;
  --color-primary-950: #011d23;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
}